<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.virginia.dtc.DiAsUI"
      android:sharedUserId="com.example.android.home"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="preferExternal">
    <permission android:name="edu.read"></permission>
    <uses-permission android:name="edu.read"></uses-permission>
    <permission android:name="edu.write"></permission>
    <uses-permission android:name="edu.write"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
	<supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:anyDensity="true"/>	
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-sdk android:minSdkVersion="10"/>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".DiAsMain"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
                  android:screenOrientation="sensorLandscape"
                  android:label="@string/app_name"
                  android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                -->
            </intent-filter>
        </activity>

        <activity android:label="Meal Screen"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
                  android:name=".DefaultMealActivity"  
                  android:screenOrientation="sensorLandscape"
                  android:theme="@style/MealScreenTheme">
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"></action> 
            </intent-filter>
        </activity>
        
        <activity android:label="Alarm Clock Screen"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
                  android:name="AlarmClockActivity"  
                  android:screenOrientation="sensorLandscape"
                  android:theme="@style/Theme.FullScreen">
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"></action> 
            </intent-filter>
        </activity>
        
        <activity android:label="Plot Screen"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
                  android:name=".PlotsActivity"  
                  android:screenOrientation="sensorLandscape">
             
                  <!-- android:theme="@style/MealScreenTheme"> -->
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"></action> 
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AlarmActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
            android:label="Alarm Screen"
            android:screenOrientation="sensorLandscape"
            
            android:theme="@style/MealScreenTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        
        <activity android:label="Viewer"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
                  android:name=".ViewerActivity"  
                  android:screenOrientation="sensorLandscape"
         
                  android:theme="@style/MealScreenTheme">
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"></action> 
            </intent-filter>
        </activity>
        
        <activity android:label="Calibration Screen"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
                  android:name=".SmbgActivity"  
                  android:screenOrientation="sensorLandscape"
         
                  android:theme="@style/MealScreenTheme">
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"></action> 
            </intent-filter>
        </activity>
        
        <activity android:label="Temporary Basal Rate Screen"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
                  android:name=".TempBasalActivity"  
                  android:screenOrientation="sensorLandscape"
         
                  android:theme="@style/MealScreenTheme">
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"></action> 
            </intent-filter>
            
        </activity>
        <meta-data android:name="Version" android:value="$Rev: 2410 $"/>
    </application>
</manifest>
