<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.virginia.dtc.SSMservice"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="preferExternal">>
    <permission android:name="edu.read"></permission>
    <permission android:name="edu.write"></permission>
    <uses-permission android:name="edu.read"></uses-permission>
    <uses-permission android:name="edu.write"></uses-permission>
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    	<supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:anyDensity="true"/>
    		
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <!-- 
        <activity android:name="edu.virginia.dtc.safetyService.TestActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         -->
		<service
		 	android:name="edu.virginia.dtc.SSMservice.SafetyService"
		 	android:exported="true"
		 	android:enabled="true" >
            <intent-filter>
                <action android:name="DiAs.SSMservice" />
            </intent-filter>
		 </service>
        <activity android:label="Bolus Confirmation Screen"
            	  android:screenOrientation="sensorLandscape"
                  android:configChanges="orientation|keyboardHidden" 
                  android:name="ConfirmationActivity"  
                  android:theme="@style/ConfirmationScreenTheme">
        </activity>
        
         <activity android:label="Temporary Basal Rate Screen"
                  android:configChanges="orientation|keyboardHidden|screenSize" 
                  android:name="TempBasalActivity"  
                  android:screenOrientation="sensorLandscape"
         
                  android:theme="@style/MealScreenTheme">     
            <intent-filter> 
                <action android:name="edu.virginia.dtc.intent.action.TEMP_BASAL"></action> 
            </intent-filter>    
        </activity>
        
        <meta-data android:name="Version" android:value="$Rev: 2100 $*"/>
        </application>
   <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>