<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.virginia.dtc.DiAsService">

    <uses-permission android:name="edu.read"/>
    <permission android:name="edu.virginia.dtc.BiometricsContentProvider.edu.read"/>
    <uses-permission android:name="edu.write"/>
    <permission android:name="edu.virginia.dtc.BiometricsContentProvider.edu.write"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <!-- BIOMETRICS CONTENT PROVIDER - START ====================================================== -->

        <provider android:name="edu.virginia.dtc.BiometricsContentProvider.biometricsContentProvider"
            android:authorities="edu.virginia.dtc.provider.biometrics"
            android:exported="true"
            android:readPermission="edu.read"
            android:writePermission="edu.write">
        </provider>

        <service android:name="edu.virginia.dtc.BiometricsContentProvider.biometricsCleanerService"
            android:exported="true"
            android:enabled="true" >
            <intent-filter>
                <action android:name="DiAs.BiometricsCleanerService" />
            </intent-filter>
        </service>

        <receiver  android:process=":remote"
            android:name="edu.virginia.dtc.BiometricsContentProvider.biometricsCleanerTask">
        </receiver>

        <receiver  android:process=":remote"
            android:name="edu.virginia.dtc.BiometricsContentProvider.biometricsWeeklyArchiveTask">
        </receiver>

        <!-- BIOMETRICS CONTENT PROVIDER - STOP ====================================================== -->

        <!-- DIAS SERVICE - START ====================================================== -->

        <service
            android:name="edu.virginia.dtc.DiAsService.DiAsService"
            android:exported="true"
            android:enabled="true" >
        </service>

        <activity android:label="Alarm Screen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name="edu.virginia.dtc.DiAsService.MDI_Activity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/alarmScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>

        <activity android:name="Alerts" android:theme="@android:style/Theme.Translucent"></activity>

        <activity android:label="Alert Screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name="edu.virginia.dtc.DiAsService.EventActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>

        <activity android:label="Startup Screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name="edu.virginia.dtc.DiAsService.StartupActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>

        <!-- DIAS SERVICE - STOP ====================================================== -->

        <!-- CGM SERVICE - START ====================================================== -->

        <service android:exported="true"
            android:enabled="true"
            android:name="edu.virginia.dtc.CgmService.CgmService">
        </service>

        <!-- CGM SERVICE - STOP ====================================================== -->

        <!-- NETWORK SERVICE - START ====================================================== -->

        <service android:name="edu.virginia.dtc.NetworkService.networkService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="DiAs.NetworkService" />
            </intent-filter>
        </service>

        <!-- NETWORK SERVICE - STOP ====================================================== -->

        <!-- PUMP SERVICE - START ====================================================== -->

        <service android:exported="true"
            android:enabled="true"
            android:name="edu.virginia.dtc.PumpService.PumpService">
        </service>

        <!-- PUMP SERVICE - STOP ====================================================== -->

        <!-- SUPERVISOR - START ====================================================== -->

        <activity
            android:name="edu.virginia.dtc.Supervisor.Supervisor"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.virginia.dtc.Supervisor.NfcFilter">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="edu.virginia.dtc.Supervisor.SupervisorReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="edu.virginia.dtc.Supervisor.SupervisorService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!-- SUPERVISOR - STOP ====================================================== -->

    </application>

</manifest>
