<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.virginia.dtc.supervisor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="edu.read" />
    <permission android:name="edu.read" />

    <uses-permission android:name="edu.write" />
    <permission android:name="edu.write" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="edu.virginia.dtc.supervisor.Supervisor"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="edu.virginia.dtc.supervisor.NfcFilter">  
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
			    <category android:name="android.intent.category.DEFAULT"/>
			    <data android:mimeType="text/plain"/>
			</intent-filter>
       	</activity>

        <receiver
            android:name="edu.virginia.dtc.supervisor.SupervisorReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="edu.virginia.dtc.supervisor.SupervisorService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <meta-data
            android:name="Version"
            android:value="$Rev: 2264 $*" />

        <activity
            android:name="edu.virginia.dtc.supervisor.Test"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>
