<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.virginia.dtc.ExerciseService"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15" />
    	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <permission android:name="edu.read"></permission>
    <permission android:name="edu.write"></permission>
    <uses-permission android:name="edu.read"></uses-permission>
    <uses-permission android:name="edu.write"></uses-permission>
	<supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:anyDensity="true"/>	
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <service android:exported="true" android:enabled="true" android:name="ExerciseService"></service>
        <activity android:name=".ExerciseService" 
        			android:exported="true"
        			android:screenOrientation="landscape"
        			 android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <meta-data android:name="Version" android:value="$Rev: 1662 $*"/>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
