<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.virginia.dtc.biometricsContentProvider"
      android:versionCode="1"
      android:versionName="1.0">
      
    
<uses-permission android:name="edu.read"/>
<permission android:name="edu.read"/>
<uses-permission android:name="edu.write"/>
<permission android:name="edu.write"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="15" />


    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <provider android:name="biometricsContentProvider" 
        	android:authorities="edu.virginia.dtc.provider.biometrics" 
        	android:readPermission="edu.read" 
        	android:writePermission="edu.write">
        </provider>
        <service android:name="biometricsCleanerService" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="DiAs.BiometricsCleanerService" />
            </intent-filter>
        </service>
        <receiver  android:process=":remote" android:name="edu.virginia.dtc.biometricsContentProvider.biometricsCleanerTask"></receiver>
        <receiver  android:process=":remote" android:name="edu.virginia.dtc.biometricsContentProvider.biometricsWeeklyArchiveTask"></receiver>
        
        <meta-data android:name="Version" android:value="$Rev: 2300 $"/>
	  </application>
</manifest>